<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <style type="text/css">
		.container{
			margin-top: 8%;
			width: 400px;
			border: ridge 1.5px rgb(219, 25, 25);
			padding: 20px;
		}
  </style>
  <title>TinyApp</title>
</head>
<body>
  <%- include('partials/_header') %>
  <main style="margin: 1em;"></main>
  <div class="container">
		<p style= "color: red;"><b>Please Login or Register first!!</b></p>
  </div>
</body>
</html>